.App{
  height: 100vh;
}

.navBar{
  text-transform: uppercase;
  background-color: #5bb7c2 !important;
}

.home-page{
  background: url(/images/home_bg.png);
  background-size: cover;
  height: 100vh;
}

.logo{
    width: 70%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.footer{
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 66%;
  transform: translate(-50%);
  color: #083b66;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.custom-button{
  background: transparent !important;
  border: 1px solid white !important;
  width: 15rem; 
  color: #083b66 !important;
  margin-bottom: 10px !important;
}